@model RegisterAtEventViewModel
@{
    ViewBag.Title = "Event Registration:";
}
<h2>Event Details</h2>
<br />
<form asp-action="Register">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="GetEventResult.Name" class="control-label"></label>
                <br />
                <input readonly="readonly"  asp-for="GetEventResult.Name" value="@Model.GetEventResult.Name" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="GetEventResult.Location" class="control-label"></label>
                <br />
              
                <input readonly="readonly" asp-for="GetEventResult.Location" value="@Model.GetEventResult.Location" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="GetEventResult.StartTime" class="control-label"></label>
                <br />

                <input readonly="readonly" asp-for="GetEventResult.StartTime" value="@Model.GetEventResult.StartTime" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="GetEventResult.EndTime" class="control-label"></label>
                <br />

                <input readonly="readonly" asp-for="GetEventResult.EndTime" value="@Model.GetEventResult.EndTime" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="GetEventResult.Description" class="control-label"></label>
               
                <br />
                <input readonly="readonly" asp-for="GetEventResult.Description" value="@Model.GetEventResult.Description" class="form-control" />
            </div>
        </div>
    </div>
    <hr />
    <hr />
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegisterAtEventCommand.Name" class="control-label"></label>
                <input asp-for="RegisterAtEventCommand.Name" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="RegisterAtEventCommand.PhoneNumber" class="control-label"></label>
                <input asp-for="RegisterAtEventCommand.PhoneNumber" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="RegisterAtEventCommand.Email" class="control-label"></label>
                <input asp-for="RegisterAtEventCommand.Email" class="form-control" />

            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
            <input asp-for="RegisterAtEventCommand.EventId" value="@Model.GetEventResult.Id" type="hidden" />
            <input asp-for="GetEventResult.Id" value="@Model.GetEventResult.Id" type="hidden" />
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}