@model EventManager.Core.Application.Event.GetEvent.GetEventResult
@{
    ViewBag.Title = "Event Details:";
}
<h2>Event Details</h2>
<br/>
<div class="row">
    <div class="col-md-4">
        
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <br/>
            @Model.Name
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <br/>
            @Model.Location
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="StartTime" class="control-label"></label>
            <br/>
            @Model.StartTime
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="EndTime" class="control-label"></label>
            <br/>
            @Model.EndTime
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <br/>
            @Model.Description
        </div>
    </div>
</div>
