@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EventManager.Core.Application.Event.GetEventRegistrations.GetEventRegistrationsResult
<h2>@Model.EventName</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone Number
        </th>
        <th>
          Registration Date
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.EventRegistrations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            
        </tr>
    }
    </tbody>
</table>