@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EventManager.Core.Application.Event.GetAllEvents.GetAllEventsResult

@{
    ViewData["Title"] = "All Events";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New Event </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GetEventResults)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>